
.auto{
  margin: auto;
}

.h-90 {
  height: 85vh;
}

.book {
  border: 1px solid #eee;
}

.spine {
  border-right: 5px solid black;
  padding: 40px 40px 20px 60px;
}

.front-left {
  background-color: white;
}

.back-right {
  background-color: white;
}

.left {
  background-color: #e09087;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items:center;
}

.toc {
  font-weight: bold;
  cursor: pointer;
}